# [Proyecto]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Proyecto]    Script Date: 11/8/2023 06:08:53 p. m. ******/
CREATE DATABASE [Proyecto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DGB\MSSQL\DATA\Proyecto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proyecto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DGB\MSSQL\DATA\Proyecto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [Proyecto] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Proyecto] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Proyecto] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Proyecto] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Proyecto] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Proyecto] SET ARITHABORT OFF 
GO
ALTER DATABASE [Proyecto] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Proyecto] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Proyecto] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Proyecto] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Proyecto] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Proyecto] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Proyecto] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Proyecto] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Proyecto] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Proyecto] SET  DISABLE_BROKER 
GO
ALTER DATABASE [Proyecto] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Proyecto] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Proyecto] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Proyecto] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Proyecto] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Proyecto] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Proyecto] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Proyecto] SET RECOVERY FULL 
GO
ALTER DATABASE [Proyecto] SET  MULTI_USER 
GO
ALTER DATABASE [Proyecto] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Proyecto] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Proyecto] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Proyecto] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Proyecto] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Proyecto] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'Proyecto', N'ON'
GO
ALTER DATABASE [Proyecto] SET QUERY_STORE = ON
GO
ALTER DATABASE [Proyecto] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[Acompañante]

In [0]:
USE [Proyecto]
GO

In [0]:
/****** Object:  Table [dbo].[Acompañante]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acompañante](
	[cliente_cedula] [int] NULL,
	[cedula_acompañante] [int] NOT NULL,
	[primer_apellido] [varchar](20) NULL,
	[segundo_apellido] [varchar](20) NULL,
	[nombre] [varchar](20) NULL,
	[canton] [varchar](20) NULL,
	[nacionalidad] [varchar](20) NULL,
	[fecha_de_nacimiento] [date] NULL,
	[correo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cedula_acompañante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Cliente]

In [0]:
/****** Object:  Table [dbo].[Cliente]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[primer_apellido] [varchar](20) NULL,
	[distrito] [varchar](20) NULL,
	[provincia] [varchar](20) NULL,
	[nombre] [varchar](20) NULL,
	[canton] [varchar](20) NULL,
	[correo] [varchar](20) NULL,
	[nacionalidad] [varchar](20) NULL,
	[cedula_cliente] [int] NOT NULL,
	[seguro_id] [int] NULL,
	[fecha_de_nacimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[cedula_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[ClienteSeguro]

In [0]:
/****** Object:  Table [dbo].[ClienteSeguro]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteSeguro](
	[seguro_id] [int] NOT NULL,
	[cliente_cedula] [int] NULL,
	[codigo_empresa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[seguro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[EmpresaAseguradora]

In [0]:
/****** Object:  Table [dbo].[EmpresaAseguradora]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaAseguradora](
	[años_de_experiencia] [int] NULL,
	[localidad] [varchar](20) NULL,
	[nombre] [varchar](20) NULL,
	[codigo_empresa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Hospedaje]

In [0]:
/****** Object:  Table [dbo].[Hospedaje]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospedaje](
	[nombre_hotel] [varchar](20) NULL,
	[ubicacion] [varchar](20) NULL,
	[id_viaje] [int] NULL,
	[costo_persona] [decimal](20, 2) NULL,
	[costo_total] [decimal](20, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[Itinerario]

In [0]:
/****** Object:  Table [dbo].[Itinerario]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Itinerario](
	[id_itinerario] [int] NOT NULL,
	[fecha_inicial] [date] NULL,
	[fecha_salida] [date] NULL,
	[costo_total] [decimal](20, 2) NULL,
	[descripcion] [varchar](20) NULL,
	[id_viaje] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_itinerario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Reservas]

In [0]:
/****** Object:  Table [dbo].[Reservas]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[id_reservas] [int] NOT NULL,
	[monto_abonado] [decimal](20, 2) NULL,
	[saldo] [decimal](20, 2) NULL,
	[fecha] [date] NULL,
	[proximo_pago] [decimal](20, 0) NULL,
	[id_viaje] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reservas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Viaje]

In [0]:
/****** Object:  Table [dbo].[Viaje]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viaje](
	[id_viaje] [int] NOT NULL,
	[destino] [varchar](20) NULL,
	[fecha_inicio] [date] NULL,
	[fecha_final] [date] NULL,
	[costo_total] [decimal](20, 0) NULL,
	[nombre] [varchar](20) NULL,
	[fecha_vencimiento] [date] NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_viaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Vuelo]

In [0]:
/****** Object:  Table [dbo].[Vuelo]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vuelo](
	[numero_de_vuelo] [int] NOT NULL,
	[aerolinea] [varchar](20) NULL,
	[hora_salida] [time](7) NULL,
	[id_viaje] [int] NULL,
	[hora_llegada] [time](7) NULL,
	[cliente_cedula] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_de_vuelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [FK_Acompañante_Cliente]

In [0]:
ALTER TABLE [dbo].[Acompañante]  WITH CHECK ADD  CONSTRAINT [FK_Acompañante_Cliente] FOREIGN KEY([cliente_cedula])
REFERENCES [dbo].[Cliente] ([cedula_cliente])
GO
ALTER TABLE [dbo].[Acompañante] CHECK CONSTRAINT [FK_Acompañante_Cliente]
GO

# [FK_Cliente_ClienteSeguro]

In [0]:
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_ClienteSeguro] FOREIGN KEY([seguro_id])
REFERENCES [dbo].[ClienteSeguro] ([seguro_id])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_ClienteSeguro]
GO

# [FK_ClienteSeguro_Cliente]

In [0]:
ALTER TABLE [dbo].[ClienteSeguro]  WITH CHECK ADD  CONSTRAINT [FK_ClienteSeguro_Cliente] FOREIGN KEY([cliente_cedula])
REFERENCES [dbo].[Cliente] ([cedula_cliente])
GO
ALTER TABLE [dbo].[ClienteSeguro] CHECK CONSTRAINT [FK_ClienteSeguro_Cliente]
GO

# [FK_ClienteSeguro_EmpresaAseguradora]

In [0]:
ALTER TABLE [dbo].[ClienteSeguro]  WITH CHECK ADD  CONSTRAINT [FK_ClienteSeguro_EmpresaAseguradora] FOREIGN KEY([codigo_empresa])
REFERENCES [dbo].[EmpresaAseguradora] ([codigo_empresa])
GO
ALTER TABLE [dbo].[ClienteSeguro] CHECK CONSTRAINT [FK_ClienteSeguro_EmpresaAseguradora]
GO

# [FK_Hospedaje_Viaje]

In [0]:
ALTER TABLE [dbo].[Hospedaje]  WITH CHECK ADD  CONSTRAINT [FK_Hospedaje_Viaje] FOREIGN KEY([id_viaje])
REFERENCES [dbo].[Viaje] ([id_viaje])
GO
ALTER TABLE [dbo].[Hospedaje] CHECK CONSTRAINT [FK_Hospedaje_Viaje]
GO

# [FK_Itinerario_Viaje]

In [0]:
ALTER TABLE [dbo].[Itinerario]  WITH CHECK ADD  CONSTRAINT [FK_Itinerario_Viaje] FOREIGN KEY([id_viaje])
REFERENCES [dbo].[Viaje] ([id_viaje])
GO
ALTER TABLE [dbo].[Itinerario] CHECK CONSTRAINT [FK_Itinerario_Viaje]
GO

# [FK_Reservas_Viaje]

In [0]:
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Viaje] FOREIGN KEY([id_viaje])
REFERENCES [dbo].[Viaje] ([id_viaje])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Viaje]
GO

# [FK_Vuelo_Cliente]

In [0]:
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_Cliente] FOREIGN KEY([cliente_cedula])
REFERENCES [dbo].[Cliente] ([cedula_cliente])
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [FK_Vuelo_Cliente]
GO

# [FK_Vuelo_Viaje]

In [0]:
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_Viaje] FOREIGN KEY([id_viaje])
REFERENCES [dbo].[Viaje] ([id_viaje])
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [FK_Vuelo_Viaje]
GO

# [dbo].[ActualizarCostoItinerario]

In [0]:
/****** Object:  StoredProcedure [dbo].[ActualizarCostoItinerario]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarCostoItinerario]
    @p_id_itinerario INT,
    @p_nuevo_costo DECIMAL(20, 2)
AS
BEGIN
    UPDATE Itinerario
    SET costo_total = @p_nuevo_costo
    WHERE id_itinerario = @p_id_itinerario;
END;
GO

# [dbo].[ActualizarMontoAbonado]

In [0]:
/****** Object:  StoredProcedure [dbo].[ActualizarMontoAbonado]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarMontoAbonado]
    @id_reservas INT,
    @monto_abonado DECIMAL(20, 2)
AS
BEGIN
    UPDATE Reservas
    SET monto_abonado = @monto_abonado
    WHERE id_reservas = @id_reservas;
END;
GO

# [dbo].[ObtenerCostoTotalViaje]

In [0]:
/****** Object:  StoredProcedure [dbo].[ObtenerCostoTotalViaje]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCostoTotalViaje]
    @p_id_viaje INT,
    @p_costo_total DECIMAL(20, 2) OUTPUT
AS
BEGIN
    SELECT @p_costo_total = costo_total FROM Viaje WHERE id_viaje = @p_id_viaje;
END;
GO

# [dbo].[ObtenerDetallesViaje]

In [0]:
/****** Object:  StoredProcedure [dbo].[ObtenerDetallesViaje]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerDetallesViaje]
    @p_id_viaje INT
AS
BEGIN
    SELECT * FROM Viaje WHERE id_viaje = @p_id_viaje;
    SELECT * FROM Itinerario WHERE id_viaje = @p_id_viaje;
    SELECT * FROM Hospedaje WHERE id_viaje = @p_id_viaje;
    SELECT * FROM Vuelo WHERE id_viaje = @p_id_viaje;
    SELECT * FROM Reservas WHERE id_viaje = @p_id_viaje;
END;
GO

# [dbo].[ObtenerInfoClienteAcompañantes]

In [0]:
/****** Object:  StoredProcedure [dbo].[ObtenerInfoClienteAcompañantes]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerInfoClienteAcompañantes]
    @p_cedula_cliente INT
AS
BEGIN
    SELECT * FROM Cliente WHERE cedula_cliente = @p_cedula_cliente;
    SELECT * FROM Acompañante WHERE cliente_cedula = @p_cedula_cliente;
END;
GO

# [dbo].[ObtenerInfoEmpresaAseguradora]

In [0]:
/****** Object:  StoredProcedure [dbo].[ObtenerInfoEmpresaAseguradora]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerInfoEmpresaAseguradora]
    @p_codigo_empresa INT
AS
BEGIN
    SELECT * FROM EmpresaAseguradora WHERE codigo_empresa = @p_codigo_empresa;
    SELECT * FROM ClienteSeguro WHERE codigo_empresa = @p_codigo_empresa;
END;
GO

# [dbo].[ObtenerVuelosViaje]

In [0]:
/****** Object:  StoredProcedure [dbo].[ObtenerVuelosViaje]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerVuelosViaje]
    @p_id_viaje INT
AS
BEGIN
    SELECT * FROM Vuelo WHERE id_viaje = @p_id_viaje;
END;
GO

# [dbo].[RegistrarAcompañante]

In [0]:
/****** Object:  StoredProcedure [dbo].[RegistrarAcompañante]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarAcompañante]
    @p_cliente_cedula INT,
    @p_cedula_acompañante INT,
    @p_primer_apellido VARCHAR(20),
    @p_segundo_apellido VARCHAR(20),
    @p_nombre VARCHAR(20),
    @p_canton VARCHAR(20),
    @p_nacionalidad VARCHAR(20),
    @p_fecha_de_nacimiento DATE,
    @p_correo VARCHAR(20)
AS
BEGIN
    INSERT INTO Acompañante(cliente_cedula, cedula_acompañante, primer_apellido, segundo_apellido, nombre, canton, nacionalidad, fecha_de_nacimiento, correo)
    VALUES (@p_cliente_cedula, @p_cedula_acompañante, @p_primer_apellido, @p_segundo_apellido, @p_nombre, @p_canton, @p_nacionalidad, @p_fecha_de_nacimiento, @p_correo);
END;
GO

# [dbo].[RegistrarCliente]

In [0]:
/****** Object:  StoredProcedure [dbo].[RegistrarCliente]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para registrar un cliente
CREATE PROCEDURE [dbo].[RegistrarCliente]
    @p_cedula INT,
    @p_primer_apellido VARCHAR(20),
    @p_distrito VARCHAR(20),
    @p_provincia VARCHAR(20),
    @p_nombre VARCHAR(20),
    @p_canton VARCHAR(20),
    @p_correo VARCHAR(20),
    @p_nacionalidad VARCHAR(20),
    @p_fecha_nacimiento DATE,
    @p_seguro_id INT
AS
BEGIN
    INSERT INTO Cliente(cedula_cliente, primer_apellido, distrito, provincia, nombre, canton, correo, nacionalidad, fecha_de_nacimiento, seguro_id)
    VALUES (@p_cedula, @p_primer_apellido, @p_distrito, @p_provincia, @p_nombre, @p_canton, @p_correo, @p_nacionalidad, @p_fecha_nacimiento, @p_seguro_id);
END;
GO

# [dbo].[RegistrarItinerario]

In [0]:
/****** Object:  StoredProcedure [dbo].[RegistrarItinerario]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarItinerario]
    @id_itinerario INT,
    @fecha_inicial DATE,
    @fecha_salida DATE,
    @costo_total DECIMAL(20, 2),
    @descripcion VARCHAR(20),
    @id_viaje INT
AS
BEGIN
    INSERT INTO Itinerario (id_itinerario, fecha_inicial, fecha_salida, costo_total, descripcion, id_viaje)
    VALUES (@id_itinerario, @fecha_inicial, @fecha_salida, @costo_total, @descripcion, @id_viaje);
END;
GO

# [dbo].[RegistrarReserva]

In [0]:
/****** Object:  StoredProcedure [dbo].[RegistrarReserva]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarReserva]
    @p_id_reservas INT,
    @p_monto_abonado DECIMAL(20, 2),
    @p_saldo DECIMAL(20, 2),
    @p_fecha DATE,
    @p_proximo_pago DECIMAL(20),
    @p_id_viaje INT
AS
BEGIN
    INSERT INTO Reservas(id_reservas, monto_abonado, saldo, fecha, proximo_pago, id_viaje)
    VALUES (@p_id_reservas, @p_monto_abonado, @p_saldo, @p_fecha, @p_proximo_pago, @p_id_viaje);
END;
GO

# [dbo].[RegistrarViaje]

In [0]:
/****** Object:  StoredProcedure [dbo].[RegistrarViaje]    Script Date: 11/8/2023 06:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarViaje]
    @id_viaje INT,
    @destino VARCHAR(20),
    @fecha_inicio DATE,
    @fecha_final DATE,
    @costo_total DECIMAL(20),
    @nombre VARCHAR(20),
    @fecha_vencimiento DATE,
    @estado VARCHAR(20)
AS
BEGIN
    INSERT INTO Viaje (id_viaje, destino, fecha_inicio, fecha_final, costo_total, nombre, fecha_vencimiento, estado)
    VALUES (@id_viaje, @destino, @fecha_inicio, @fecha_final, @costo_total, @nombre, @fecha_vencimiento, @estado);
END;
GO

# [Proyecto]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Proyecto] SET  READ_WRITE 
GO